<h3>Packages</h3>

<div class="row">
  <div class="col">
    <p>New Package</p>
    <form class="login-form" [formGroup]="packageForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label class="col-4 col-form-label">Name:</label>
        <div class="col-8">
          <input type="text" class="form-control" formControlName="name" placeholder="Package Name">
        </div>
      </div>
      <div class="form-group row">
        <label for="examplePassword" class="col-4 col-form-label">Tariff:</label>
        <div class="col-8">
          <input type="number" class="form-control" formControlName="tariff" placeholder="Tariff">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <input type="submit" class="btn btn-sm btn-info pull-right" value="Submit">
        </div>
      </div>
    </form>
  </div>
  <div class="col">
    <h4>All Packages</h4>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th width="5" scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Tariff</th>
            <th style="width: 80px;" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of lists;  let i = index" [attr.data-index]="i">
            <th scope="row">{{ (i + 1) }}</th>
            <td>{{ list.name }}</td>
            <td>{{ list.tariff }}</td>
            <td>
              <button (click)="onEditItem(i)" class="btn btn-sm btn-info">
                <i class="fa fa-edit"></i>
              </button>
              <button (click)="onRemoveItem(i)" class="btn btn-sm btn-danger">
                <i class="fa fa-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>