<h4 class="py-2">
  Clients
  <a routerLink="/client-add" class="btn btn-info btn-sm pull-right">Add New</a>
</h4>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th width="5" scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th style="width: 75px;" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of lists;  let i = index" [attr.data-index]="i">
        <th scope="row">{{ (i + 1) }}</th>
        <td>{{ list.name }}</td>
        <td>{{ list.type | titlecase }}</td>
        <td>{{ list.mobile }}</td>
        <td>{{ list.email }}</td>
        <td>
          <a (click)="onViewItem(list.id)" class="btn btn-sm btn-info pull-left">
            <i class="fa fa-openid"></i>
          </a>
          <button (click)="onRemoveItem(list.id)" class="btn btn-sm btn-danger pull-right">
            <i class="fa fa-remove"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>