<h3 class="py-3">
  New Client
</h3>
<div class="row d-flex justify-content-center">
  <div class="col-md-8">

    <form class="login-form" [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label class="col-4 col-form-label">Client Name</label>
        <div class="col-8">
          <input type="text" required class="form-control" formControlName="name" placeholder="Client Name">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">Assigned Number</label>
        <div class="col-8">
          <input type="text" required class="form-control" formControlName="number" placeholder="Assigned Number">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">Client Type</label>
        <div class="col-8">
          <select class="form-control" formControlName="type" required>
            <option value="">None</option>
            <option value="home">Home</option>
            <option value="corporate">Corporate</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
          <label class="col-4 col-form-label">Tariff</label>
          <div class="col-8">
            <select class="form-control" formControlName="tariff" required>
              <option value="">None</option>
              <option value="1">pack 1</option>
              <option value="2">pack 2</option>
            </select>
          </div>
        </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">Mobile</label>
        <div class="col-8">
          <input type="text" required class="form-control" formControlName="mobile" placeholder="Enter Mobile">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">Email</label>
        <div class="col-8">
          <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">Number Ext.</label>
        <div class="col-8">
          <input type="email" class="form-control" formControlName="exten" placeholder="Number Extention">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <input type="submit" class="btn btn-sm btn-info pull-right" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>