
<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="exampleInputEmail1" class="col-4 col-form-label">Username:</label>
    <div class="col-8">
      <input type="text" class="form-control" formControlName="username" placeholder="Username">
    </div>
  </div>
  <div class="form-group row">
    <label for="examplePassword" class="col-4 col-form-label">Password:</label>
    <div class="col-8">
      <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <input type="submit" class="btn btn-sm btn-info pull-right" value="Submit">
    </div>
  </div>
  <div *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>
</form>
<div *ngIf="loading" class="loading">Loading&#8230;</div>