<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav *ngIf="loggedIn || loggedInByLogin" class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clients">Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/packages">Packages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports">Reports</a>
      </li>
    </ul>
    <div class="d-flex justify-content-end">
      <button (click)="logout()" class="btn btn-outline-info btn-sm my-2 my-sm-0" type="button">Logout</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>